<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MenuManageMapper">
	<!--表名 -->
	<sql id="tableName">
		meal
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		M_ID,
		M_NAME,
		M_PIECE,
		M_DESCRIBE,
		M_SALE,
		M_DATA,
		M_ADD_TIME,
		M_ADD_USER,
		M_IMAGE
		
	</sql>
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
			and
				(
				
					M_NAME LIKE CONCAT(CONCAT('%', #{keywords}),'%')
					or
					M_DATA LIKE CONCAT(CONCAT('%', #{keywords}),'%') 
					or
					M_DESCRIBE LIKE CONCAT(CONCAT('%', #{keywords}),'%') 
				)
		</if>
		
	</select>
	
	
	<!-- 列表 -->
	<select id="findById" parameterType="page" resultType="pd">
		select * from meal where M_ID=#{id}
	</select>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		<if test="m_data!= null and m_data != ''">
		      m_data = #{m_data},
		</if>
		<if test="m_image!= null and m_image != ''">
		     m_image = #{m_image},
		</if>
		<if test="m_describe!= null and m_describe != ''">
		      m_describe = #{m_describe},
		</if>
		<if test="m_sale!= null and m_sale != ''">
		      m_sale = #{m_sale},
		</if>
		<if test="m_name!= null and m_name != ''">
		      m_name = #{m_name},
		</if>
		<if test="m_piece!= null and m_piece != ''">
		      m_piece = #{m_piece}
		</if>
		where
		m_id = #{m_id}
	</update>
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
	insert into
	<include refid="tableName"></include>
	(
	    M_NAME,
		M_PIECE,
		M_DESCRIBE,
		M_SALE,
		M_DATA,
		M_ADD_TIME,
		M_ADD_USER,
		M_IMAGE,
		M_CLASSIFY
	) values (
	
	#{m_name},
	#{m_piece},
	#{m_describe},
	#{m_sale},
	#{m_data},
	#{m_add_time},
	#{m_add_user},
	#{m_image}
	#{m_classify}
	)
</insert>


   <!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			M_ID = #{id}
	</delete>
	
	
	<!-- 列表 -->
	<select id="selectAnyone" parameterType="page" resultType="pd">
		select 
		${column}
		from
		${tbName}
		<where>
			<if test="columnName!= null and columnName != ''">
				${columnName} = #{columnValue}
			</if>
			<if test="Name!= null and Name != ''">
				${Name}
			</if>
		</where>
	</select>
	<!-- 批量删除 -->
	<select id="selectByids" parameterType="String" resultType="pd">
		select  m_id,m_name  from   meal
		where 
			m_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</select>
</mapper>