<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PerformanceMapper">
	<select id="createperformance" parameterType="pd" resultType="string">
	select SUM(a.o_piece) from (SELECT o_piece from `order` where o_time BETWEEN '${year}-${month}-01 00:00:00' and '${year}-${month}-31 23:59:59') as a
	</select>
	<select id="queryyear" parameterType="pd" resultType="string">
	select SUM(a.o_piece) from (SELECT o_piece from `order` where o_time BETWEEN '${year}-01-01 00:00:00' and '${year}-12-31 23:59:59') as a
	</select>
	<insert id="insertperformance" parameterType="pd">
	insert into `performance`(p_mode,p_generates,p_time) value(#{p_mode},${p_generates},#{p_time});
	</insert>
	<delete id="deletemonth" parameterType="pd">
	
	delete from `performance` where p_mode=#{p_mode}
	
	</delete>
	
	<select id="list" parameterType="pd" resultType="pd">
	
	select * from `performance` 
	<if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
		where p_mode like '%${keywords}'
		</if>
	
	</select>
	
	<select id="query" parameterType="pd" resultType="pd">
	select * from `order` where o_time BETWEEN '${onetime} 00:00:00' and '${twotime} 23:59:59'
	</select>
	
	
</mapper>